body {
    font-family: Arial, sans-serif;
    background-color: #F2EBE9;
    color: #1D261E;
    margin: 0;
    padding: 0;
}

header {
    background-color: #595045;
    color: #F2EBE9;
    padding: 1em 0;
    text-align: center;
  width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: #F2EBE9;
    text-decoration: none;
}

main {
    padding: 2em;
}

.bienvenida {
    text-align: center;
    margin-bottom: 2em;
}

.imagenes-estudiantes {
    text-align: center;
}

.imagenes-estudiantes img {
    width: 30%;
    margin: 0.5em;
    border-radius: 8px;
}

.lista-historias ul {
    list-style-type: none;
    padding: 0;
}

.lista-historias li {
    background-color: #D9D1C7;
    margin: 0.5em 0;
    padding: 1em;
    border-radius: 5px;
}

.lista-historias li a {
    text-decoration: none;
    color: #1D261E;
    font-weight: bold;
}

footer {
    background-color: #595045;
    color: #F2EBE9;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

section {
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  nav ul {
      flex-direction: column;
  }

  nav ul li {
      margin: 0.5rem 0;
  }
}